/* BASE SETTINGS */

:root {
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box !important;
    font-size: 62.5%;
}

* {
    line-height: 1.2 !important;
}

html, body {
    font-family: 'Roboto', sans-serif !important;
    height: 100%;
    font-size: 1.6rem;

}

a {
    color: unset;
    text-decoration: none;

    &:hover, &:focus, &:active {
        text-decoration: unset;
        font-weight: unset;
    }
}

/*
DOCUMENTATION

TEXT-ALIGN
text-center = text-align:center
text-justify = text-align:justify
text-left = text-align:left
text-right = text-align:right

COLOR
primary(-light/-dark): #93070a,
secondary(-light/-dark): #668e3c,
camo-green(-light/-dark): #563f23,
squash(-light/-dark): #eba506,
light-mustard(-light/-dark): #f3c96a,
deep-orange(-light/-dark): #e54800,
pale-grey(-light/-dark): #f6f7fb,
grey-2(-light/-dark): #e6e6e6,
brown-grey(-light/-dark): #8f8f8f,
brownish-grey(-light/-dark): #787878,
greyish-brown(-light/-dark): #3d3d3d,
green-STATUS(-light/-dark): #79cc26,
red-STATUS(-light/-dark): #f04242

black: #000000,
white: #ffffff,


LINE-HEIGHT
lh-1..lh-30 = line-height:3

FONT-SIZE
size-tiny = font-size:1.2rem
size-small = font-size:1.4rem
size-medium = font-size:1.6rem
size-large = font-size:2rem
size-veryLarge = font-size:2.4rem

TEXT-TRANSFORM
upperCase = text-transform:uppercase
lowerCase = text-transform:lowercase
capitalize = text-transform:capitalize

FONT-WEIGHT
weight-(light/regular/medium/black)

DISPLAY
flex = display:flex
hidden-(lg/md/sm/xs/all) = display:none
.grid = display : grid

GRID
.grid-gap-16 = grid-gap: 16px
.grid-1..4 = grid-template-columns:  1fr 1fr 1fr 1fr

JUSTIFY-CONTENT
flex-justifyCenter = justify-content:center
flex-justifyStart = justify-content:flex-start
flex-justifyEnd = justify-content:flex-end
flex-justifyAround = justify-content:space-around
flex-justifyBetween = justify-content:space-between

ALIGN-ITEMS
flex-alignCenter = align-items:center
flex-alignStart = align-items:flex-start
flex-alignEnd = align-items:flex-end

ALIGN-SELF
flex-selfCenter = align-self:center
flex-selfStart = align-self:flex-start
flex-selfEnd = align-self:flex-end

FLEX-DIRECTION
flex-directionColumn = flex-direction:column
flex-directionRow = flex-direction::row

ORDER
o-1...o-10 = order:1

MARGIN
m-0...m-150 = margin:150px
mt-0...mt-150 = margin-top:150px
mb-0...mb-150 = margin-bottom:150px
mr-0...mr-150 = margin-right:150px
ml-0...ml-150 = margin-left:150px

PADDING
p-0...p-150 = padding:150px
pt-0...pt-150 = padding-top:150px
pb-0...pb-150 = padding-bottom:150px
pr-0...pr-150 = padding-right:150px
pl-0...pl-150 = padding-left:150px

WIDTH
w-1...w-10 = width:100%

OPACITY
op-0...op-100 = opacity:100%

 */

















