/* BASE SETTINGS */

:root {
    box-sizing: border-box !important;
    font-size: 62.5%;
}

* {
    line-height: 1.2 !important;
}

html, body {
    height: 100%;
    font-size: 1.6rem;
}

a {
    color: unset;
    text-decoration: none !important;

    &:hover, &:focus, &:active {
        text-decoration: none;
        font-weight: unset;
    }
}

// --- margin & padding
.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-1_5 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-2_5 {
    margin-top: 2.5rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-3_5 {
    margin-top: 3.5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-1_5 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-2_5 {
    margin-bottom: 2.5rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-3_5 {
    margin-bottom: 3.5rem;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

// ------ COLOR ------

.woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: #969696 !important;
}

// ------ NAVBAR -------
header#masthead {
    background-color: #26525a;
    color: #f9f9f9;
}

.main-navigation ul.menu ul a:hover, .main-navigation ul.menu ul li:hover > a, .main-navigation ul.menu ul li.focus, .main-navigation ul.nav-menu ul a:hover, .main-navigation ul.nav-menu ul li:hover > a, .main-navigation ul.nav-menu ul li.focus {
    background-color: rgba(0, 0, 0, 0.2);
}

// ------ WOOCOMMERCE ------
.comment-form-comment {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.woocommerce form {
    max-width: none !important;
}

div#customer_details {
    width: 100%;
    float: none;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    #order_review_heading, #order_review {
        width: auto !important;
        float: none !important;
        margin-right: 0 !important;
        clear: right !important;
    }
}

.yith-ywraq-add-to-quote.add-to-quote-256 {
    margin-top: 15px;
}

/*
DOCUMENTATION

TEXT-ALIGN
text-center = text-align:center
text-justify = text-align:justify
text-left = text-align:left
text-right = text-align:right

COLOR
primary(-light/-dark): #93070a,
secondary(-light/-dark): #668e3c,
camo-green(-light/-dark): #563f23,
squash(-light/-dark): #eba506,
light-mustard(-light/-dark): #f3c96a,
deep-orange(-light/-dark): #e54800,
pale-grey(-light/-dark): #f6f7fb,
grey-2(-light/-dark): #e6e6e6,
brown-grey(-light/-dark): #8f8f8f,
brownish-grey(-light/-dark): #787878,
greyish-brown(-light/-dark): #3d3d3d,
green-STATUS(-light/-dark): #79cc26,
red-STATUS(-light/-dark): #f04242

black: #000000,
white: #ffffff,


LINE-HEIGHT
lh-1..lh-30 = line-height:3

FONT-SIZE
size-tiny = font-size:1.2rem
size-small = font-size:1.4rem
size-medium = font-size:1.6rem
size-large = font-size:2rem
size-veryLarge = font-size:2.4rem

TEXT-TRANSFORM
upperCase = text-transform:uppercase
lowerCase = text-transform:lowercase
capitalize = text-transform:capitalize

FONT-WEIGHT
weight-(light/regular/medium/black)

DISPLAY
flex = display:flex
hidden-(lg/md/sm/xs/all) = display:none
.grid = display : grid

GRID
.grid-gap-16 = grid-gap: 16px
.grid-1..4 = grid-template-columns:  1fr 1fr 1fr 1fr

JUSTIFY-CONTENT
flex-justifyCenter = justify-content:center
flex-justifyStart = justify-content:flex-start
flex-justifyEnd = justify-content:flex-end
flex-justifyAround = justify-content:space-around
flex-justifyBetween = justify-content:space-between

ALIGN-ITEMS
flex-alignCenter = align-items:center
flex-alignStart = align-items:flex-start
flex-alignEnd = align-items:flex-end

ALIGN-SELF
flex-selfCenter = align-self:center
flex-selfStart = align-self:flex-start
flex-selfEnd = align-self:flex-end

FLEX-DIRECTION
flex-directionColumn = flex-direction:column
flex-directionRow = flex-direction::row

ORDER
o-1...o-10 = order:1

MARGIN
m-0...m-150 = margin:150px
mt-0...mt-150 = margin-top:150px
mb-0...mb-150 = margin-bottom:150px
mr-0...mr-150 = margin-right:150px
ml-0...ml-150 = margin-left:150px

PADDING
p-0...p-150 = padding:150px
pt-0...pt-150 = padding-top:150px
pb-0...pb-150 = padding-bottom:150px
pr-0...pr-150 = padding-right:150px
pl-0...pl-150 = padding-left:150px

WIDTH
w-1...w-10 = width:100%

OPACITY
op-0...op-100 = opacity:100%

 */

















