/* BASE SETTINGS */
/* line 3, ../sass/utils/main.scss */
:root {
  box-sizing: border-box !important;
  font-size: 62.5%;
}

/* line 8, ../sass/utils/main.scss */
* {
  line-height: 1.2 !important;
}

/* line 12, ../sass/utils/main.scss */
html, body {
  height: 100%;
  font-size: 1.6rem;
}

/* line 17, ../sass/utils/main.scss */
a {
  color: unset;
  text-decoration: none !important;
}
/* line 21, ../sass/utils/main.scss */
a:hover, a:focus, a:active {
  text-decoration: none;
  font-weight: unset;
}

/* line 28, ../sass/utils/main.scss */
.mt-0 {
  margin-top: 0 !important;
}

/* line 32, ../sass/utils/main.scss */
.mb-0 {
  margin-bottom: 0 !important;
}

/* line 36, ../sass/utils/main.scss */
.mt-1 {
  margin-top: 1rem;
}

/* line 40, ../sass/utils/main.scss */
.mt-1_5 {
  margin-top: 1.5rem;
}

/* line 44, ../sass/utils/main.scss */
.mt-2 {
  margin-top: 2rem;
}

/* line 48, ../sass/utils/main.scss */
.mt-2_5 {
  margin-top: 2.5rem;
}

/* line 52, ../sass/utils/main.scss */
.mt-3 {
  margin-top: 3rem;
}

/* line 56, ../sass/utils/main.scss */
.mt-3_5 {
  margin-top: 3.5rem;
}

/* line 60, ../sass/utils/main.scss */
.mt-6 {
  margin-top: 6rem;
}

/* line 64, ../sass/utils/main.scss */
.mt-5 {
  margin-top: 5px;
}

/* line 68, ../sass/utils/main.scss */
.mt-10 {
  margin-top: 10px;
}

/* line 72, ../sass/utils/main.scss */
.mt-15 {
  margin-top: 15px;
}

/* line 76, ../sass/utils/main.scss */
.mt-20 {
  margin-top: 20px;
}

/* line 80, ../sass/utils/main.scss */
.mt-25 {
  margin-top: 25px;
}

/* line 84, ../sass/utils/main.scss */
.mt-30 {
  margin-top: 30px;
}

/* line 88, ../sass/utils/main.scss */
.mb-1 {
  margin-bottom: 1rem;
}

/* line 92, ../sass/utils/main.scss */
.mb-1_5 {
  margin-bottom: 1.5rem;
}

/* line 96, ../sass/utils/main.scss */
.mb-2 {
  margin-bottom: 2rem;
}

/* line 100, ../sass/utils/main.scss */
.mb-2_5 {
  margin-bottom: 2.5rem;
}

/* line 104, ../sass/utils/main.scss */
.mb-3 {
  margin-bottom: 3rem;
}

/* line 108, ../sass/utils/main.scss */
.mb-3_5 {
  margin-bottom: 3.5rem;
}

/* line 112, ../sass/utils/main.scss */
.mb-5 {
  margin-bottom: 5px;
}

/* line 116, ../sass/utils/main.scss */
.mb-10 {
  margin-bottom: 10px;
}

/* line 120, ../sass/utils/main.scss */
.mb-15 {
  margin-bottom: 15px;
}

/* line 124, ../sass/utils/main.scss */
.mb-20 {
  margin-bottom: 20px;
}

/* line 128, ../sass/utils/main.scss */
.mb-25 {
  margin-bottom: 25px;
}

/* line 132, ../sass/utils/main.scss */
.mb-30 {
  margin-bottom: 30px;
}

/* line 138, ../sass/utils/main.scss */
.woocommerce-info, .woocommerce-noreviews, p.no-comments {
  background-color: #969696 !important;
}

/* line 143, ../sass/utils/main.scss */
header#masthead {
  background-color: #26525a;
  color: #f9f9f9;
}

/* line 148, ../sass/utils/main.scss */
.main-navigation ul.menu ul a:hover, .main-navigation ul.menu ul li:hover > a, .main-navigation ul.menu ul li.focus, .main-navigation ul.nav-menu ul a:hover, .main-navigation ul.nav-menu ul li:hover > a, .main-navigation ul.nav-menu ul li.focus {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 153, ../sass/utils/main.scss */
.comment-form-comment {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

/* line 158, ../sass/utils/main.scss */
.woocommerce form {
  max-width: none !important;
}

/* line 162, ../sass/utils/main.scss */
div#customer_details {
  width: 100%;
  float: none;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  /* line 169, ../sass/utils/main.scss */
  #order_review_heading, #order_review {
    width: auto !important;
    float: none !important;
    margin-right: 0 !important;
    clear: right !important;
  }
}
/* line 177, ../sass/utils/main.scss */
.yith-ywraq-add-to-quote.add-to-quote-256 {
  margin-top: 15px;
}

/* line 181, ../sass/utils/main.scss */
.ol-info-window-plain {
  color: black;
}

/* line 184, ../sass/utils/main.scss */
.caldera-grid .btn-default {
  color: #fff;
  background-color: #26525A;
  border: none;
  padding: 8px 22px;
}

/* menu en une 1 ligne (Lucas) */
/* line 192, ../sass/utils/main.scss */
#site-header-cart > .current-menu-item > .cart-contents, #site-header-cart > li:nth-of-type(1) > .cart-contents {
  display: none;
}

/* line 196, ../sass/utils/main.scss */
.woocommerce form {
  max-width: 512px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

/* line 203, ../sass/utils/main.scss */
.woocommerce label {
  margin: 25px 0px 5px 0px;
}

/* line 207, ../sass/utils/main.scss */
.woocommerce h2 {
  text-align: center;
}

/* line 210, ../sass/utils/main.scss */
.woocommerce-form-login__submit {
  margin: 25px auto !important;
  display: block;
  padding: 12px 35px;
}

/* line 215, ../sass/utils/main.scss */
p.woocommerce-LostPassword.lost_password {
  text-align: center;
}

/* line 218, ../sass/utils/main.scss */
.woocommerce-Button {
  margin-top: 15px;
}

/* line 221, ../sass/utils/main.scss */
.woocommerce-button {
  margin: 15px;
}

/* line 225, ../sass/utils/main.scss */
.is-menu path {
  fill: #F9F9F9;
}

/* line 229, ../sass/utils/main.scss */
header#masthead {
  padding-top: 0 !important;
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

/* line 236, ../sass/utils/main.scss */
div#header-fixed {
  margin-left: 0;
}

/* line 240, ../sass/utils/main.scss */
.woocommerce-active .site-header .site-branding {
  align-self: center;
}

/* line 244, ../sass/utils/main.scss */
.main-navigation ul li, .secondary-navigation ul li {
  position: relative;
  display: inline-block;
  top: -3px;
  bottom: 0;
}

/* line 251, ../sass/utils/main.scss */
li.astm-search-menu.is-menu.popup {
  top: 0;
}

/* line 255, ../sass/utils/main.scss */
input.is-search-input {
  width: 100%;
}

/* line 259, ../sass/utils/main.scss */
button.menu-toggle {
  background-color: transparent;
  border: none;
  color: white;
}

/* line 265, ../sass/utils/main.scss */
button.menu-toggle:after, button.menu-toggle:before, button.menu-toggle span:before {
  background-color: white !important;
}

/* line 269, ../sass/utils/main.scss */
button.menu-toggle {
  background-color: transparent !important;
  color: white !important;
}

/*
DOCUMENTATION

TEXT-ALIGN
text-center = text-align:center
text-justify = text-align:justify
text-left = text-align:left
text-right = text-align:right

COLOR
primary(-light/-dark): #93070a,
secondary(-light/-dark): #668e3c,
camo-green(-light/-dark): #563f23,
squash(-light/-dark): #eba506,
light-mustard(-light/-dark): #f3c96a,
deep-orange(-light/-dark): #e54800,
pale-grey(-light/-dark): #f6f7fb,
grey-2(-light/-dark): #e6e6e6,
brown-grey(-light/-dark): #8f8f8f,
brownish-grey(-light/-dark): #787878,
greyish-brown(-light/-dark): #3d3d3d,
green-STATUS(-light/-dark): #79cc26,
red-STATUS(-light/-dark): #f04242

black: #000000,
white: #ffffff,


LINE-HEIGHT
lh-1..lh-30 = line-height:3

FONT-SIZE
size-tiny = font-size:1.2rem
size-small = font-size:1.4rem
size-medium = font-size:1.6rem
size-large = font-size:2rem
size-veryLarge = font-size:2.4rem

TEXT-TRANSFORM
upperCase = text-transform:uppercase
lowerCase = text-transform:lowercase
capitalize = text-transform:capitalize

FONT-WEIGHT
weight-(light/regular/medium/black)

DISPLAY
flex = display:flex
hidden-(lg/md/sm/xs/all) = display:none
.grid = display : grid

GRID
.grid-gap-16 = grid-gap: 16px
.grid-1..4 = grid-template-columns:  1fr 1fr 1fr 1fr

JUSTIFY-CONTENT
flex-justifyCenter = justify-content:center
flex-justifyStart = justify-content:flex-start
flex-justifyEnd = justify-content:flex-end
flex-justifyAround = justify-content:space-around
flex-justifyBetween = justify-content:space-between

ALIGN-ITEMS
flex-alignCenter = align-items:center
flex-alignStart = align-items:flex-start
flex-alignEnd = align-items:flex-end

ALIGN-SELF
flex-selfCenter = align-self:center
flex-selfStart = align-self:flex-start
flex-selfEnd = align-self:flex-end

FLEX-DIRECTION
flex-directionColumn = flex-direction:column
flex-directionRow = flex-direction::row

ORDER
o-1...o-10 = order:1

MARGIN
m-0...m-150 = margin:150px
mt-0...mt-150 = margin-top:150px
mb-0...mb-150 = margin-bottom:150px
mr-0...mr-150 = margin-right:150px
ml-0...ml-150 = margin-left:150px

PADDING
p-0...p-150 = padding:150px
pt-0...pt-150 = padding-top:150px
pb-0...pb-150 = padding-bottom:150px
pr-0...pr-150 = padding-right:150px
pl-0...pl-150 = padding-left:150px

WIDTH
w-1...w-10 = width:100%

OPACITY
op-0...op-100 = opacity:100%

 */
