/*
TEXT-TRANSFORM
upperCase = text-transform:uppercase
lowerCase = text-transform:lowercase
capitalize = text-transform:capitalize

 */
.upperCase {
  text-transform: uppercase;
}
.lowerCase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}